body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    overflow: hidden;
}

.container {
    width: 90%;
    max-width: 800px;
    text-align: center;
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#display {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

canvas {
    border: 2px solid #007bff;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: auto;
}

.control {
    text-align: center;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#solution-time {
    font-size: 15px;
    color: #333;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    max-width: 250px;
    box-sizing: border-box;
    text-align: center;
}

.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.form-inline input {
    padding: 10px;
    font-size: 15px;
    max-width: 150px;
    margin: 0px 5px;
    flex: 1;
}

.form-inline button {
    padding: 10px;
    font-size: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0px 5px;
}

button:hover {
    background-color: #0056b3;
}