<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tour Finder</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Tour Finder</h1>
        </header>
        <main>
            <div id="display">
                <canvas id="tsp-canvas"></canvas>
            </div>
            <div class="control">
                <form id="tsp-form" class="form-inline">
                    <input type="number" id="num-coord" name="num-coord" min="1" max="1000" placeholder="Enter a Number" required>
                    <button type="submit">Solve</button>
                </form>
                <div id="display-time">
                    <input type="text" id="solution-time" placeholder="Time Taken: 0.00 seconds" readonly>
                </div>
            </div>
        </main>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>